/* General Styles */
body {
  background-color: #F6E7D7;
}
nav {
  background-color: #E4B07B ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 4fr;
  grid-template-rows: 50px 50px 50px;
  /* column-gap: 1rem; */
  align-items: center;
  padding: 0.5rem 1rem;
  
}

nav img {
  width: auto;
  height: 150px;
  grid-column: 1;
  grid-row: 1 / span 3;
  margin-right: 20px;
}

nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#rocky {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row: 3;
}

nav > :nth-child(2) { grid-column: 2; }
nav > :nth-child(3) { grid-column: 3; }
nav > :nth-child(4) { grid-column: 4; }

#footer {
  background-color: #E4B07B ;
  display: grid;
  grid-template-columns: auto 10% auto auto auto auto 1fr auto auto auto;
  grid-template-rows: auto;
  column-gap: 60px;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 20px;
}

#footer img {
  width: auto;
  height: 150px;
  grid-column: 1;
  grid-row: 1;
  margin-right: 20px;
}

#footer #footerul {
  display: contents;
}

#footer ul {
  display: contents;
}

#footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Position each li in its own grid column, starting after the logo (column 3) */
#footer li:nth-of-type(1) { grid-column: 3; grid-row: 1; }
#footer li:nth-of-type(2) { grid-column: 4; grid-row: 1; }
#footer li:nth-of-type(3) { grid-column: 5; grid-row: 1; }
#footer li:nth-of-type(4) { grid-column: 6; grid-row: 1; }

/* Position social media icons in separate columns with spacing on the right */
#footer i:nth-of-type(1) { grid-column: 8; grid-row: 1; }
#footer i:nth-of-type(2) { grid-column: 9; grid-row: 1; }
#footer i:nth-of-type(3) { grid-column: 10; grid-row: 1; }

/* index Styles */
#middleimgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 4rem;
  place-items: start;
  margin: 0 auto;
  max-width: 1200px;
}


/* Left image */
#middleimgs img:nth-of-type(1) {
  width: 100%;
  height: auto;
  margin-top: 100px;
  grid-column: 1;
  grid-row: 1 / span 2;
}

/* Purpose heading */
#middleimgs #purpose {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  font-size: 3.5em;
  text-align: center;
}

/* Main paragraph */
#middleimgs p {
  width: 100%;
  grid-column: 2;
  grid-row: 2;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

/* Right image */
#middleimgs img:nth-of-type(2) {
  width: 100%;
  height: auto;
  margin-top: 100px;
  grid-column: 3;
  grid-row: 1 / span 2;
}
#underimage {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin-top: 80px;
}
#email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
#email p {
  margin-right: 10px;
}
#copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
/* subpage1 Styles */

/* subpage2 Styles */